


.hide{display: none;}

/* 프로그레스바 */
.circle {
  width: 200px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}
.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}
.circle span {
  display: block;
  color: #FFF;
  margin-top: 30px;
}
 

/* 네비게이션 */
header{
  height: 100vh;
}
header h1{
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
header nav{
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 99999;
  color: white;
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
header nav ul{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
header nav ul li{
  width: 120px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
header nav ul li.on{color: #d251f2;}
header .pg_up{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 0.5s;
  opacity: 0;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
header .pg_up i{
  font-size: 2rem;
  transform: translateY(25%);
}



/* 메인비쥬얼 */
header .main_vs{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
header .main_vs video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: left;
  /* width: 100%; */
  /* height: 100vh; */
}
header .main_vs img{
  width: 100vw;
  height: 100vh;
}
header .main_vs .main_txt{
  position: absolute;
  top: 100px;
  left: 250px;
  object-position: left;
}
header .main_vs .main_txt h2{
  font-size: 5.625rem;
  font-family: nanumson;
  margin-top: 40px;
}
header .main_vs .main_txt p{
  font-size: 2.625rem;
  font-family: nanumson;
}
header .main_vs .main_txt b{
  font-size: 3.5rem;
  font-family: nanumson;
  font-weight: 400;
}

/* 섹션공통 */
section h2{
  position: absolute;
  top: 10%;
  font-size: 4vw;
  transition: 1s;
}

/* 섹션 */
.sec01{
  width: 100%;
  height: 100%;
  background : url(../img/sec01_bg.png) no-repeat;
  background-size: cover;
}
.sec01_wrap{
  position: relative;
  height: 100%;
}
@keyframes sec01{
  0%{left: -20%;}
  100%{left: 0;}
}

/* sec01_article */
.sec01 .profile{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec01 .profile .tab_wrap{
  width: 60%;
  height: 50%;
  background-color: rgba(225, 225, 225, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: saturate(180%) blur(15px);
}
.sec01 .profile .tab_wrap div{
  width: 50%;
  padding-left: 5%;
}
.sec01 .profile .tab_wrap p{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.sec01 .profile .tab_wrap th{
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
  padding-right: 20px;
}
.sec01 .profile .tab_wrap td{
  font-size: 1.125rem;
}
.sec01 .profile .video{
  max-width: 32.5%;
  max-height: 46.3%;
}
.sec01 .profile .video img{
  width: 100%;
  height: 100%;
}

/* sec02 */
.sec02{
  height: 100%;
}
.sec02_wrap{
  width: 100%;
  height: 100%;
}
.skill_wrap{
  width: 100%;
  height: 70%;
  position: relative;
}
.sec02_wrap .skills{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: end;
  align-content: flex-end;

}
.sec02_wrap .skills div{
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  padding-bottom: 100px;
}
.sec02_wrap .skills div img{
  width: 60%;
}
.sec02 article{
  width: 100%;
  height: 30%;
  background-color: black;
  color: white;
}
.sec02 article .history{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* 스킬 호버 */
.sec02_wrap .skills .html:hover,.sec02_wrap .skills .css:hover,.sec02_wrap .skills .js:hover,.sec02_wrap .skills .max:hover, .sec02_wrap .skills .photo:hover, .sec02_wrap .skills .ill:hover{
  width: 30%;
}

.skill_bar{
  position: relative;;
  width: 80%;
  height: 100%;
}
.skill_bar>img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.skill_bar strong{
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
}

/* .skill_bar{
  display: inline-block;
  width: 70%;
  height: 20px;
  border: 1px solid #838383;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
}
.skill_bar span{
  width: 90%;
  height: 18px;
  background-color: #333333;
  border-radius: 10px;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 1;
} */

/* @keyframes skill_bar{
  0%{width: 0;}
  100%{width: 90%;}
} */

@keyframes sec02{
  0%{left: -20%;}
  100%{left: 0;}
}

@keyframes skill {
  0%{padding: 0; opacity: 0;}
  100%{padding-bottom: 100px;}
}

.circle{
  width: 200px;
  height: 200px;
  position: relative;
}

/* sec03 */
.sec03{
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}
.sec03 .sec03_wrap{
  position: relative;
  z-index: 3;
  height: 100%;
}
.sec03 .sec03_wrap .port_wrap{
  width: 100%;
  height: 100%;
  display: flex;
}
/* port01 */
.sec03 .sec03_wrap .port_wrap>div{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec03 .sec03_wrap .port_wrap>div h3{
  font-size: 2.5rem;
}
.sec03 .sec03_wrap .port_wrap>div h3::after{
  position: relative;
  top: -1.2rem;
  content: '';
  display: block;
  width: 100%;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #f7d241;
  z-index: -1;
}
/* .port_img */
.sec03_wrap .port_wrap>div>div{
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.sec03_wrap .port_wrap>div>div:hover .port_hover{
  opacity: 1;
  transition: 0.3s;
}
.sec03_wrap .port_hover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(100%) blur(10px);
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.sec03_wrap .port_hover .hover_txt dl{
  margin-top: 40px;
}
.sec03_wrap .port_hover .hover_txt dl dt{
  margin: 20px auto 5px auto;
  width:fit-content;
  background-color: #000000;
}
.sec03_wrap .port_hover .hover_txt .port_btn{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7d241;
  color: #333333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin: 40px auto 0 auto;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.sec03_wrap .port_hover .hover_txt .port_btn:hover{
  scale: 1.1;
  transition: 0.2s;
}

/* sec04 */
.sec04{
  width: 100%;
  height: 100%;
  background: url(../img/sec04_bg.jpg) no-repeat;
  background-size: cover;
}
.sec04 .sec04_wrap{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.sec04 .sec04_wrap>div{
  width: 50%;
  height: 60%;
}
.sec04 .sec04_wrap .con_box{
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(100%) blur(10px);
}
.sec04 .sec04_wrap .con_box .con_wrap{
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.sec04 .sec04_wrap .con_box .con_wrap li{
  padding: 2% 0;
}
.sec04 .sec04_wrap .con_box .con_wrap label{
  display: inline-block;
  width: 30%;
}
.sec04 .sec04_wrap .con_box .con_wrap input{
  width: 69%;
  margin-right: 0;
}
.sec04 .sec04_wrap .con_box .con_wrap ul li:last-child label{
  width: 0;
}
.sec04 .sec04_wrap .con_box .con_wrap ul li:last-child textarea{
  width: 100%;
}
.con_wrap button{
  width: 200px;
  height: 100px;
  background-color: #FFF;
}
